* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

.header {
  width: 100%;
  height: 130px;
  background-color: #f4f4f4;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;


  .logo_top {
    margin-right: 40px;
    width: 260px;
    height: 130px;
  }

  .info_col1, .info_col2, .info_col3, .info_col4, .info_col5 {
    display: block;
    background-color: #f4f4f4;
    padding: 10px 10px 0 10px;

    strong {
      color: #3498db;
    }

    div {
      margin-top: 20px;
      color: #3498db;
      text-decoration: underline;
    }
  }

  .info_col1 {
    max-width: 348px;
  }

}

.cover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1580px;
  height: 100%;

  .leftbar {
    width: 340px;
    height: auto;
    background-image: url('../img/leftbar_img.jpg');
    background-size: cover;

    .top_menu {
      padding: 20px;

      h3 {
        color: white;
        font-size: 26px;
      }

      ul {
        list-style: none;

        li {
          a {
            color: white;
            font-size: 22px;
            font-weight: 200;
          }
        }
      }
    }
  }

  .main_content {
    width: 1180px;
    padding: 20px 0 70px 60px;

    .sts_h2_top {
      font-size: 82px;
      font-weight: 200;
    }

    .sts_h1_top {
      font-size: 88px;
      font-weight: 800;
      line-height: 1;
      margin-bottom: 10px;
    }

    .sts_h3_top {
      font-size: 30px;
      font-weight: 300;
    }

    .banner_top {
      margin-top: 20px;
      margin-bottom: 45px;
    }

    .b2_header {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      .b2_img {
        width: 160px;
        margin-right: 10px;
        img {
          width: 160px;
        }
      }

      .h2_b2 {
        font-size: 48px;
        font-weight: 200;

        strong {
          color: #08528b;
          font-weight: 300;
          text-decoration: underline;
        }
      }
    }

    .b2_h2_cover {
      max-width: 950px;
    }

    .b2_greed {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .b2_cell {
        width: 350px;
        height: 144px;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        margin-bottom: 20px;

        .b2_cell_img {
          width: 144px;
          height: 144px;
        }

        .b2_cell_txt {
          width: 200px;
          height: 144px;
          background-color: #f7f7f7;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          span {
            font-size: 17px;
            color: #08528b;
            text-transform: uppercase;
            display: block;
            margin-left: 20px;
            margin-top: 10px;
            padding-right: 10px;

            a {
              font-size: 17px;
              color: #08528b;
              display: block;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          num {
            display: block;
            margin-left: 20px;
            color: #ffa800;
            font-weight: bold;
            font-size: 22px;
            padding-bottom: 5px;
          }
        }
      }
    }

    .repair_menu {
      max-width: 975px;
      font-weight: 200;

      .h2_repair {
        font-size: 48px;
        font-weight: 200;
        color: #08528b;
        text-decoration: underline;
      }

      nav {
        ul {
          padding-inline-start: 0;
          list-style: none;

          li {
            display: inline-block;

            a {
              font-size: 24px;
              margin-right: 10px;
              color: #08528b;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .separator {
      height: 47px;
      width: 100%;
      background: url("../img/separator.jpg");
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .about_company {
      margin-top: 45px;
      margin-bottom: 65px;

      h2 {
        font-size: 62px;
        font-weight: 800;
        line-height: 1;
        color: #ffa800;
        margin-bottom: 60px;
      }

      .about_greed {
        color: #47413f;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px 70px;

        .border {
          position: relative;
          padding: 20px;
          font-weight: 400;
          font-size: 14px;

          h3 {
            font-size: 32px;
            font-weight: 200;
            line-height: 1.1;
            margin-bottom: 25px;

            span {
              font-weight: 800;
              font-size: 72px;
            }
          }

          div {
            max-width: 240px;
          }
        }

        .border:before {
          content: "";
          position: absolute;
          width: 100px;
          height: 100px;
          top: -4px;
          left: -4px;
          border-top: 4px solid #ffa800;
          border-left: 4px solid #ffa800;
        }

        .border:after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          bottom: 7px;
          right: 11px;
          border-bottom: 4px solid #ffa800;
          border-right: 4px solid #ffa800;
        }

        .about_description {
          grid-column: 2/4;
          background-color: #e8f6ff;
          padding: 45px 45px 45px 20px;
          font-weight: 400;
          font-size: 14px;
          margin-left: -52px;
          line-height: 1.5;
        }
      }
    }

    .documents {
      margin-bottom: 60px;

      h2 {
        font-weight: 200;
        font-size: 48px;
        max-width: 715px;
        line-height: 1.05;
        margin-bottom: 30px;
      }

      .photos {
        display: flex;
        justify-content: space-between;

        div {
          width: 270px;
          height: 392px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .why_us {
      h2.why_h2 {
        font-size: 36px;
        margin-bottom: 30px;
      }

      div {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 25px;
      }
    }
  }
}


.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #002e4f;
  padding: 80px 40px 140px 60px;

  .col_logo {
    margin-right: 50px;

    .logo_bottom {
      margin-bottom: 25px;
    }

    .logo_info {
      color: white;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .col_menu {
    width: 300px;
    margin-right: 50px;

    h3 {
      font-weight: 800;
      font-size: 18px;
      color: white;
      margin-bottom: 15px;
    }

    nav {
      ul {
        list-style: none;

        li {
          a {
            color: #7fc6de;
            font-size: 18px;
            font-weight: 200;
          }
        }
      }
    }
  }

  .col_contacts {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;

    .email {
      margin-top: 35px;
      color: #3498db;
      text-decoration: underline;
      font-size: 24px;
    }
  }

}

.close {
  display: none;
}

.menu-icon {
  display: none;
}


